<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <header style="text-align:center; text-transform: none;">
            <h1>Header ở đây nè</h1>
            <nav class="navbar navbar-expand-lg navbar-light bg-success">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item"><a class="nav-link" routerLink="/product">Product</a></li>
                  <li class="nav-item"><a class="nav-link" routerLink="/student">Student</a></li>
                </ul>
              </nav>
        </header>
        <div class="row">
        <aside class="col-3">
            <h2>Đây là aside</h2>
        </aside>
    
        <main class="col-7">
            <router-outlet></router-outlet>
        </main>
    </div>
        <footer class="bg-warning" style="text-align:center"><h1>Foter Nè</h1><h2 style="color:rebeccapurple">From Gia Thắng with love</h2></footer>
    </div>
</body>
</html>